@include keyframes(fadeOut) {
    100% {
        z-index: -1;
    }
}

@include keyframes(flash) {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}