/**
 * 基础样式
 * @author: Mavinbin
 * @version: 0.0.1
 * @date: 2018-04-03
 */

/* 重置样式 */
* {
    margin:0;
    padding:0;
    border:none;
    outline:none;
    vertical-align:baseline;
    box-sizing:border-box;
}

img {
    border:none;
    vertical-align:middle;
}

em, i {
    font-style:normal;
}

ol, ul {
    list-style:none;
}

table {
    border-collapse:collapse;
    border-spacing: 0;
}

/* 基础样式 */
.clearfix:after {
    content:".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
}

html {
    font: 6.25%/1.5 "Lucida Grande", Helvetica, Arial, Verdana, "Microsoft YaHei", sans-serif;
     color:#000;
    -webkit-text-size-adjust:none;
    -webkit-touch-callout:none;
}

body {
    margin:0 auto;
    background:#fff;
}

a {
    color:#585858;
    text-decoration:none;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}

